
<h1> Welcome back <%= @user.name %> </h1>


<p><%= current_user.inspect %></p>

  <ul>
  <li><a href='/users/<%= current_user.id %>/animals/'>View your current pets</a></li>
  <li><%= link_to "Add a new pet", new_animal_path %></li>
</ul>