<h1 id="mainWelcome"> Welcome to PetHub </h1>
<h2 id="mainSecond"> Your #1 source for Temporary Pet Services</h2>

<div class="welcomeMenuLeft">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Browse Pets Available <span class="caret"></span>
    </button>
      <ul class="dropdown-menu" role="menu">
        <li><a value="all" href="/animals/">View all Pets in the Hub</a></li>
        <li><a name="dogs" href="/animals/">Browse Dogs Only</a></li>
        <li><a name="cats" href="/animals/">Browse Cats Only</a></li>
        <li><%= link_to "Browse Cats Only", animals_path, :class => "btn", params["value"] => "cat" %></li>
        <li><%= link_to "Browse Dogs Only", animals_path, :class => "btn", params["value"] => "dog" %></li>
      </ul>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-8">
    <div id="othersSaid">
      <h4> Here's what our users have said about PetHub!</h4>
    </div>
    <div id="welcomeComments">
      <em><strong><%= @message.description %></strong></em><br><br>
      <strong>--<%= @message.user.name %></strong>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="disclaimer">
      <p>--By Signing up and using this site you, the user, take all responsibility for using PetHub LLC. PetHub LLC is not responsible for any loss or damages you may experience by using this site.
    </div>
  </div>
</div>