// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animalImageIndex img {
  height: 60px;
  width: 60px;
  box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;
}

.form {
  
}

#animalIndexHeadline {
  text-align:center;
  color: white;
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 60px;
}

.animalTextIndex {
  color: orange;
  padding: 10px 0 10px 0;
}

.pet img {
  height: 200px;
  width: 200px;
  position: relative;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;
}