.animalImageIndex img {
  height: 60px;
  width: 60px;
  box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;
}

form {
  text-align: center;
}

input#animal_image {
  position: relative;
  margin: 0 0 0 360px;
}

input {
  color: black;
  width: 270px;
}

label {
  color: white;
}

h5#fileChosen {
  color: white;
  margin: 0 0 10px 0;
}

#animalIndexHeadline {
  text-align:center;
  color: white;
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 60px;
}

.pet {
  color: orange;
  padding: 20px 0 0 0;
  text-align: center;
}

.pet img {
  height: 160px;
  width: 160px;
  display: block;
  margin: 30px auto;
  box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;
}

.actions {
  color: white;
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  text-align: center;
}

#addaNewPet {
  color: white;
  text-align: center;
  padding: 70px 0 0 0;
}

#petShowPageImg {
  height: 300px;
  width: 300px;
}

#petShowPageName {
  padding: 30px 0 0 0;
}