#welcomeCurrentUser {
  padding: 75px 0 0 0;
  text-align: center;
}

.animalTextIndex {
  padding: 10px 0 10px 0;
}

.animalImageIndex img {
  height: 80px;
  width: 120px;
  box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;
}

#showUserPicture {
  height: 200px;
  width: 200px;
  margin: 150px 0 0 150px;
}

.userShowDescription {
  color: white;
  padding: 0 0 0 400px;
}