#mainWelcome {
  text-align: center;
  color: white;
  padding: 2em 0 0 0;
  margin: 2em 0 0 0;
}

#mainSecond {
  text-align: center;
  color: orange;
  padding: 1em 0 0 0;
}

#welcomeMenuLeft {
  position: absolute;
  margin: 3em 0 0 0;
  padding: 2em 0 0 1em;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: yellow;
}

#othersSaid {
  padding: 4em 0 0 1em;
  margin: 2em 0 0 0;
  color: white;
  border: 1px red solid;
}

#welcomeComments {
  padding: 3.5em 0 0 1em;
  font-size: 1.3em;
  color: white;
  border: 1px red solid;
}

#disclaimer {
  font-size: 10px;
  margin: 15em 0 0 0;
  float: bottom;
  padding: 5em 0 0 0;
  color: white;
}

.welcomeMenuLeftButtons {
  padding: 0 0 0 5px;
  border: 1px red solid;
}

.welcomeMenuLeftButtons li {
  color: black;
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
}

