<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">PetHub</a>

  </div>
 
  <div class="navbar-header navbar-right">
    <div id="facebook">
    <% if current_user %>
      Welcome <strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</div>

 </nav>

